.album-thumbnail {
    width: 240px;
    height: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.modal img {
	height: 180px;
    min-width: 180px;
}

.double-album {
    min-width: 900px;
}

.tracks-wrapper {
	display: -webkit-flex;
	display: flex;
}

.disk2 {
	-webkit-margin-start: 1em;
	margin-start: 1em;
}

.side-2-start {
    margin-top:1em;
}