@font-face { font-family: Futura; src: url('/fonts/GlacialIndifference-Regular.otf'); } 

#cmc-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    grid-gap: 30px;
    justify-items: center;
}

.cmc-thumbnail {
	padding: 4px;
	/*margin-bottom: 20px;*/
	background:transparent;
	width: 260px;
	height: 360px;
}
.cmc-thumbnail > p {
	margin-top: 1em;
	text-align: center;
}

.cmc-thumbnail img {
	box-shadow: 0 .25em .5em 0 rgba(0,0,0,.5);
	max-height: 300px;
	cursor: pointer;
	max-width: 100%;

	transition: transform .1s;
}

.cmc-thumbnail img:hover {
	transform: scale(1.1);
	box-shadow: 0 .75em 1.5em 0 rgba(0,0,0,.5);
}

.image-wrapper {
	display:table-cell;
	vertical-align:bottom;
	height:300px;
	width:300px;
	text-align: center;
}

.image-wrapper-wrapper {
	width:300px;
	margin:0 auto;
	max-width: 100%;
}

#filter-wrapper {
	width: 100%;
	padding: 0 2em 1em;

	display:flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}

/*.filter label:not(:first-of-type) {
	font-weight: bold;
}

.filter label:not(:first-of-type) {
	margin-top: 1em;
}*/

.notyet {
	opacity: 0.3;
}

img.notyet {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.loading {
	opacity: 0.3;
}

.my-modal img {
	-webkit-margin-end: 2em;
	box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, .5);
}

*[lang=he] .my-modal img {
	margin:0 0 1em 1em;
}

.my-modal-body {
	display: flex;
}

.collection-search {
	width:100%;
	padding: 6px 12px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.collection-search:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

#filters {
	margin-top: 0;
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
}


.my-modal .close-modal-mobile {
	display: none;
	align-self: center;
	margin-bottom: 4em;
}

/*
.filtered-items-amount-filter-link label {
	font-weight: normal;
	color: #999;
	border-bottom: 1px #999 dashed;
	display: inline;
	cursor: pointer;
}

#filtered-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#filtered-items p {
	line-height: 1;
	margin: 0;
}

#filtered-items #found {

}

#filtered-items #amount {
	text-align: center;
	font-size: 28px;
}

#filtered-items #form {

}

#filtered-items #active-filters {
	margin-top: 1em;
	align-self: flex-start;
}
*/

nav {
	margin-top: 20px;
}

.cmc-nav li {
	padding: .25em .75em;
	border-radius: .25em;
}

/*.filter-input-group:not(:last-child) {
	-webkit-margin-end: 1em;
}*/

ul.cmc-nav {
	padding-left: 0;
	list-style: none;
	display: flex;
}

ul.cmc-nav li {
	/*-webkit-margin-end: 1em;*/
}

ul.cmc-nav li:last-child {
	margin: 0;
}

.cmc-nav li.current {
	background: #eee;
}

#cmc-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px 0;
}

#cmc-header h2 {
	font-size: 90px;
	text-align: center;
	margin: 0;
	/*margin-bottom: 20px;*/
	font-family: Futura;
}

#filters {
	width: 100%;
	height: 4em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-top: 1em;
	margin-bottom: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
}

.filter-button {
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 1em;
	padding-right: 1em;
	font-weight: bold;
	cursor: pointer;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

.filter-button.open {
	border-left-color: #ccc;
	border-right-color: #ccc;
}

#filters .filter-button:hover, #filters li:not(.filter-sort):hover {
	color: #00b22d;
}

#filters ul {
	background: white;
	list-style: none;
	border: 1px solid #ccc;
	margin: 0;
	padding: 0;
	max-height: calc(100vh - 450px);
	overflow-y: auto;
}

#filters li {
    border-bottom: 1px solid #ccc;
}

#filters li:last-child {
    border-bottom: 0;
}

#filters label {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5em 1em;
	cursor: pointer;
	box-sizing: border-box;
	font-weight: normal;
}
#filters input[type=checkbox] {
	-webkit-margin-start: 2em;
}

#selected-filters {
	display: flex;
	flex-wrap: wrap;
	padding: 1em 0em 2em 0em;
	margin-bottom: -.75em;
	justify-content: center;
}

#selected-filters > span {
	background: #eee;
	border: 1px solid #ccc;
	padding: .25em;
	margin: 0 .5em;
	border-radius: .25em;
	font-size: 14px;
	cursor: pointer;
	margin-bottom: .75em;
}

#reset {
	padding:2em 1em;
	display:flex;
	flex-direction: column;
	align-items: flex-start;
}

#reset span {
	cursor: pointer;
	white-space: nowrap;
	background: #6cf6;
	padding: .25em .75em;
	border-radius: .25em;
}

#reset span:hover {
	background: #6cf9;
}

.filter-search {
	display: flex
}

.filter-search input[type=search] {
	padding: .5em;
	margin: .5em 1em;
	flex-grow: 1;
	border: 1px solid #ccc;
}

.filter-sort {
	display: flex;
	justify-content: space-between;
	padding: .5em 1em;
	background: #eee;
}

.filter-sort > span {
	cursor: pointer;
}

.filter-sort span.filter-sort-label {
	border-bottom: 1px dashed
}

#toggle {
	display: flex;
    justify-content: center;
    margin: 1em 0;
}

#toggle span {
	margin: 0 1em;
}

#toggle span.selected,
.edit-langs span.selected,
.selected-country {
	background: beige;
}

.edit, .lang-specific {
	display:flex;
	flex-direction: column;
}

.edit-langs {

}

.edit-langs span {
	margin: 0 .25em;
	cursor:pointer;
}

.edit {
	width: 100%;
}

.edit input {
	padding: .75em;
    font-size: 16px;
    margin-bottom: 1.5em;
    color: blue;
}

.edit label {
    font-weight: normal;
    /*font-size: 14px;*/
}