header {
    background: #e5e5e5;
    padding-left: 16.67%;
    padding-right: 16.67%;
}

header h1 {
	display:flex;
}

header h1 > div {
	flex:1;
}

header #logout {
	float:right;
}

header.page-header {
    border-bottom:0;
}