#home-menu {
	flex-direction: column;
}

#home-menu .menu-column {
	margin-bottom: 1em;
}

#footer-left,
#footer-right {
	display: none;
}


main:not(.hreno) {
    flex-direction: column;
}

main:not(.hreno).reverse,
main:not(.hreno) div.reverse {
    flex-direction: column-reverse;
    justify-content: flex-end;
}

section:not(main.reverse section):not(:last-child),
section:not(div.reverse section):not(:last-child),
main.reverse aside,
div.reverse aside {
    margin-bottom: 3em;
}

section, aside {
	flex:0;
	flex-basis: auto;
}

.cmc-thumbnail {
	width:260px !important;
}

#search {
	display: none !important;
}

/*main.even section:not(:first-child) {
    margin-top: 3em !important;
}*/