html {
	-webkit-text-size-adjust: none;
}

body {
	font-size: 16px !important;
}


main, header, footer {
	padding-right: 1.5em;
	padding-left: 1.5em;
}


header {
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

header h1 {
	display: none !important;
}

#mobile-menu-link img {
	height:1em;
	cursor:pointer;
}

#home-logo-wrapper {
	margin-top: 0 !important;
}

#home-logo-wrapper img {
	height: 100px !important;
	width: 100px !important;
}

.title-home-link,
#footer-left,
#footer-right,
#footer-menu,
#adblock-encourage {
	display: none;
}

#mobile-menu-link {
	display: inline-block;
}

.post-body,
aside,
.post-body,
.epigraph,
#comments blockquote,
.hyphenated {
	text-align: left;
	text-align: start;
}

main.blog {
	background: white;
}

.post {
	padding: 0;
	margin-bottom: 3em;
	border: 0;
}

h2.post-title {
	font-size: 25px;
}

h3.post-title {
	font-size: 20px;
}

date.post-date {
	margin-bottom: 20px;
}

h3.year {
	display: block;
	float: none;
	font-size: 1.25em;
}

.short-month {
	display: inline-block;
}

.full-month {
	display: none;
}

.long-list li:not(#mobile-menu li) {
	margin-bottom: 1em;
}

#mobile-menu-link {
    display: inline-block;
}

.outdoors-li {
	margin-bottom: 0;
}

.outdoors-li .full-month {
	margin-bottom: 0;
	margin-top: .5em;
	display: block;
}


.my-modal {
	min-width: 0 !important;
    max-height: calc(100% - 2em);
    width: calc(100% - 2em) !important;
}

.my-modal-body {
	flex-direction: column;
}

.my-modal-body img {
	align-self: center;

	-webkit-margin-end: 0 !important;
	-webkit-margin-after: 2em !important;

	margin-end: 0 !important;
	margin-after: 2em !important;
}

.tracks-wrapper {
	-webkit-flex-direction: column;
	flex-direction: column;
}

.disk2 {
	margin-left: 0 !important;
}

.my-modal .my-close {
	display: none;
}

.my-modal .close-modal-mobile {
	display: block !important;
}

.my-modal-content {
	display: flex !important;
	flex-direction: column !important;
}

#cmc-container-container {
    flex-direction: column-reverse;
}


#open-mobile-menu,
#close-mobile-menu {
	border-bottom: 1px dashed black;
	cursor: pointer;
}

#filter-wrapper {
	display: none !important;
}