.modal-wrapper {
    visibility: hidden;
    z-index: 1050;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    /*transition: -webkit-backdrop-filter 5s;
    transition: backdrop-filter 5s;*/
    
    /*transition: visibility .1s;*/
    /*transition: background-color .25s;*/
}

.my-modal-open {
    visibility: visible;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    background-color: rgba(0, 0, 0, .5);
}

.my-modal {
    z-index: 1040;
    position: relative;
    background-color: #fff;
    min-width:700px;
    max-height: calc(100% - 4em);
    max-width: calc(100% - 4em);

    overflow-y: auto;
    overflow-x: auto;

    box-shadow: 0 0 40px 20px rgba(0, 0, 0, .35);

    border-radius: 12px;

    transform: scale(.8);
    opacity: 0.95;

    transition: transform .1s;
}

.my-modal-open .my-modal {
    transform: scale(1);
}

.my-modal-content {
    outline: 0;
    width: 100%;
}

.my-modal-header {
  min-height: 16px;
  padding: 15px;
}

.my-modal-title {
  text-align: center;
}

.my-modal-body {
    padding: 15px 30px 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.my-close {
  float: right;
  font-size: 21px;
  color: #999;
  font-weight: bold;
}
.my-close:hover,
.my-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
button.my-close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.my-modal button.my-close {
    margin-right: 7px;
}

#image-modal .my-modal {
  min-width: 600;
}

#image-modal .my-modal-body {
  padding: 0;
}

#image-modal img {
  margin:0;
}

.blur {
  filter: blur(10px);
}