* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    quotes: "«" "»" "„" "“";
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;

    min-height: 100vh;
}

img {
    vertical-align: middle;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
}

h1 {
    font-size: 36px;
    margin: .67em 0;
}

h2 {
    font-size: 30px;
}

main:not(.cmc):not(.left-h) h2 {
    font-size: 36px;
}

h2.post-title,
h3.post-title {
    margin-bottom: 5px;
    margin-top:0;
}

h3 {
    font-size: 24px;
}

main:not(.cmc):not(.left-h) h3:not(.year) {
    font-size: 30px;
}

main:not(.cmc):not(.left-h) h2,
main:not(.cmc):not(.left-h) h3:not(.year) {
    text-align: center;
    margin-bottom: 30px;
}

h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;

    font-weight: bold;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 2px solid #ddd;
}

blockquote ol:last-child, blockquote p:last-child, blockquote ul:last-child {
    margin-bottom: 0;
}

b, strong {
    font-weight: bold
}

button, input, optgroup, select, textarea {
    margin: 0;
}

input {
    line-height: normal;
    outline: none;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

input[type=search] {
    box-sizing: content-box;
    -webkit-appearance: textfield;
    box-sizing: border-box;
}

/*input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}*/

input[type=file] {
    display: block
}

input[type=range] {
    display: block;
    width: 100%
}

select[multiple], select[size] {
    height: auto
}

input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}

th {
    text-align: left;
}

td, th {
    padding: 0
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold
}

.pseudo-link {
    color: #337ab7;
    border-bottom: 1px dotted #337ab7;
    cursor: pointer;
}

.pseudo-link.selected {
    color:black;
    border-bottom: none;
    cursor: default;
    background-color: beige;
    padding: 2px 4px;
}


/*main.blog:not(.zhitie) {
    background:#ddd;
    background:#f5f5f5;
}*/

.cols {
        -ms-flex-direction:row;
            flex-direction:row;
}

li.done,
ul.done li {
    text-decoration: line-through;
    color:#999;
}

#spinner {
    text-align:center;
}

#spinner p {
    margin-top: 1em;
    -webkit-margin-start: 0.8em;
    margin-start: 0.8em;
}

.flag {
    width: 24px;
    box-shadow: 0 0 .2em .1em rgba(0, 0, 0, .3);
    -webkit-margin-end: .5em;
    margin-end: .5em;
}

.noshadow {
    box-shadow:none !important;
}

    h3.year {
        display: table-cell;
        float: left;
        font-size: 1em;

        margin-top: 0;
        
        -webkit-margin-end: 20px;
        margin-end: 20px;
    }

    *[lang=he] h3.year {
        float: right;
    }

    .year-group {
        display: table-cell;
        clear: both;
        padding-bottom: 2em;
    }

    .outdoors-li {
        margin-bottom: .25em;

    }

    .light {
        color: #999;
    }

aside, .post-body, .epigraph, #comments blockquote, .hyphenated {
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@supports  ((-webkit-hyphens: auto) or (-moz-hyphens: auto) or (-ms-hyphens: auto) or (hyphens: auto)) {
    .post-body,
    aside,
    .post-body,
    .epigraph,
    #comments blockquote,
    .hyphenated {
        text-align: justify;
    }
}

.post {
    /*margin-bottom: 2em;
    padding: 2em;*/
    padding-bottom: 4em;
    border: 1px solid #ddd;
    background: white;
}

.post {
    padding-left: 0;
    padding-right: 0;
    /*padding-bottom: 2em;*/
    border: none;
    background: transparent;
}

.post-body img,
.post-body div.image,
.post-body iframe {
    margin-bottom: 1.5em;
}

.post-body .image img {
    margin-bottom: 0;
} 

.list-unstyled {
    -webkit-padding-start: 0;
    padding-start: 0;
    list-style: none;
}

date {
    color: #999;
    font-size: 14px;
    color: #666;
}

date.post-date {
    margin-bottom: 30px;
    display: block;
}

main:not(.cmc) date.post-date {
    font-size: smaller;
    margin-bottom: 15px;
    color: #aaa;
}

div.epigraph {
    float: right;
    padding-bottom: 2em;
}

    div.epigraph cite {
        display: block;
        padding-top: .5em;
        text-align: right;
    }

a {
    color: #337ab7;
    text-decoration: none;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline
}

a:active, a:hover {
    outline: 0
}

a[href$='.livejournal.com'],
a[href*='blogger.com/profile'] {
    padding-left: 18px;
    background: transparent url('/images/icons/lj.gif') no-repeat;
}

a[href$='margulo.livejournal.com'] {
    background: transparent url('/images/icons/margulo.gif') no-repeat;
}

a[href*='blogger.com/profile'] {
    background: transparent url('/images/icons/blogger.gif') no-repeat;
}

.post-body img {
    max-width:100% !important;
    border: 1px solid #ddd;
}

#comments {
    margin-bottom: 3em;
}

.comment {
    margin: 2em 0;
}

    .comment h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .comment .comment-date {
        color: #999;
        font-size: smaller;
    }

    .comment blockquote {
        border-left: 2px solid #ccc;
        padding: 0;
        padding-left: 1em;
        margin-top: 1em;
        margin-bottom: 0;
        font-size: 16px;
    }
    
    .my-comment {
        border-left-color: #6c6 !important;
    }

    .outdoors-li {
        line-height: 1;
    }

    .contact-list img {
        width:21px;
    }

.post.hidden-post {
    background:lightgray;
}

.post.hidden-post .post-title a,
a.hidden-link {
    color: red;
}

a.hidden-link-no-text {
    color: orange;
}

ul.pagination {
    display: inline !important;
    list-style: none;
    padding: 0;
}

ul.pagination li {
    display: inline-block;
    padding: .5em;
}

.pagination li:first-child,
.pagination li:last-child {
    display: none;
}

.post-body img.no-border {
    border: 0;
}

p.note {
    background: beige;
    padding: 1em 2em;
}

.signature {
    text-align: right;
}

.long-lists h3,
.long-lists h4 {
    margin-bottom: .5em;
}

.long-lists h3 {
    margin-top: 1em;
}

.long-lists h4 {
    margin-top: 2em;
}

aside h3,
.long-lists h3:first-child,
.long-lists h4:first-child {
    margin-top: 0;
}

.long-lists ul {
    -webkit-padding-start: 0;
    padding-start: 0;
    list-style: none;   
}

.long-lists ul li ul li {
    -webkit-padding-start: 2em;
    padding-start: 2em;
}

.ltr {
    direction: ltr;
    display: block;
}

.rtl {
    direction: rtl;
    display: block;
}

.full-month {
    display: inline-block;
    font-size: 16px;
}

.short-month {
    display: none;
}

#home-image-link {
    display: none;
}

#footer-langs {
 /*   display: flex;
    justify-content: space-between;*/
}

#footer-langs a {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

#footer-langs a:first-child {
    margin-left: 0;
}

#footer-langs a:last-child {
    margin-right: 0;
}

.lang-flag {
    height: 2em;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.lang-flag.selected {
    border: 0;
    box-shadow: 0 0 0px 5px cornflowerblue;
}

#mobile-menu {
    position: absolute;
    top: 2.4em;
    left: 0;
    bottom: 0;
    right: 0;
    background: #e5e5e5;
    display: block;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 20px;
    padding-left: 2em;
    padding-right: 2em;
    overflow: hidden;
    overflow-y: auto;
}

#mobile-menu ul {
    padding-left: 0;
    -webkit-padding-start: 0;
    padding-start: 0;
    list-style: none;
    margin-bottom: 2em;
}

#mobile-menu ul li {
    line-height: 2;
}

#mobile-menu ul li a {
    color:#666;
}

#mobile-menu ul li a:hover {
    color:#333;
    text-decoration: none;
}

.mobile-menu-column {
    width: 100%;
}

.mobile-menu-column:not(:last-child) {
    border-bottom: 1px solid #aaa;
}

.noscroll, .noscroll body {
    overflow: hidden !important;
    /*height: 100% !important;*/
}

.noscroll {
    margin-top: 0 !important;
    overflow-y: scroll !important;
}

#close-mobile-menu {
    display: none;
}

#mobile-menu-link {
    display: none;
}

.tags-container {
    line-height: 1.7em;
    margin-top: 1em;

}

.tag {
    margin: 0 2px;
    white-space: nowrap;
    border-radius: 4px;
    padding: 3px 8px;
    background-color:#e5f1ff;
    font-size:16px;
    cursor: pointer;
}

.tag:hover {
    background: #0072ff;
}

.tag a {
    text-decoration: none;
}

.tag a:hover, .tag:hover a {
    color: #fff !important;
    opacity: 1;
}

.tag a span.hash {
    font-size: 14px;
    opacity: .6;
}

.tag:hover span.hash {
    opacity: 1;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.icon {
    height: 1em;
}

.icon:hover {
    fill:#666;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input {
    padding: 0 1em;
}

#preface {
    margin-bottom: 4em;
    /*font-style: italic;*/
    /*font-size: 20px;*/
    color: #666;
    /*font-family: serif;*/
}

#preface a {
    color: #2d87c8;
}